body{
	font-family: 'Source Sans Pro',sans-serif;
}

.fotologopinterest{
	width: 2.3em;
	height: 2.3em;
	margin-left: 5%;
	margin-top: 0.5%;
	position: fixed;
}

.cajabuscador{
	width: 85.3em;
	height: 1em;
	margin-top: 3.5%;
	margin-left: -0.6%;
	background: #FFF;
	position: fixed;
	border-bottom: 0.1em solid #d3d3d3;
	/*outline: 0.43em solid green;*/

}

.cajalupa{
	width: 60em;
	height: 2.5em;
	margin-top: 0.2%;
	margin-left: 9.5%;
	background: #EFEFEF;
	position: fixed;
	border-radius: 0.5em;

}

.fotolupa{
	width: 1.2em;
	height: 1.2em;
	margin-left: 14%;
	margin-top: 1%;
	position: fixed;
}


.pholder{
	width: 20em;
	height: 1.5em;
	margin-left: 15.5%;
	margin-top: 0.7%;
	position: fixed;
	color: black;
	font-size: 1.1em;
	background-color: #EFEFEF;
	border: none;
	/*outline: 0.2em solid green;*/
	/*empty:not(:focus):before{*/
    /*content:attr(data-text)*/

}

.allpins{
	margin-top: -0.5em;
	margin-left: 70%;
	font-family: 'Source Sans Pro',sans-serif;
	position: fixed;
	font-size: 1.1em;
	/*font-weight: bold;*/
}

/*.textplaceholder{
	color: gray;
	position: fixed;
	margin-top: -0.6em;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 1.03em;
}*/

.fa-times {
	outline: 0.3em solid green;
	position: fixed;
	font-size: 4em;
	color: black;
}

.x{
	width: 4em;
	height: 4em;
	position: fixed;
	margin-top: 0.5em;
	margin-left: 67.3%;
}

.fa-chevron-down{
	/*outline: 0.3em solid green;*/
	position: fixed;
	font-size: 4em;
	color: black;
	margin-left: 74%;
	margin-top: 1em;
}

.caja1{
	width: 9em;
	height: 4.2em;
	background: rgb(113, 96, 81);
	position: fixed;
	margin-left: 11%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja1 h4{
	color: white;
	padding-top: 0.3em;
}

.caja2{
	width: 7em;
	height: 4.2em;
	background: rgb(169, 138, 110);
	position: fixed;
	margin-left: 22.5%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja2 h4{
	color: white;
	padding-top: 0.3em;
}

.caja3{
	width: 6em;
	height: 4.2em;
	background: rgb(138, 111, 91);
	position: fixed;
	margin-left: 31.5%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja3 h4{
	color: white;
	padding-top: 0.3em;
}

.caja4{
	width: 5em;
	height: 4.2em;
	background: rgb(138, 106, 77);
	position: fixed;
	margin-left: 39.4%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja4 h4{
	color: white;
	padding-top: 0.3em;
}

.caja5{
	width: 10em;
	height: 4.2em;
	background: rgb(149, 146, 79);
	position: fixed;
	margin-left: 46.1%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja5 h4{
	color: white;
	padding-top: 0.3em;
}

.caja6{
	width: 8.5em;
	height: 4.2em;
	background: rgb(131, 116, 93);
	position: fixed;
	margin-left: 58.6%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja6 h4{
	color: white;
	padding-top: 0.3em;
}

.caja7{
	width: 6em;
	height: 4.2em;
	background: rgb(156, 138, 128);
	position: fixed;
	margin-left: 69.2%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja7 h4{
	color: white;
	padding-top: 0.3em;
}

.caja8{
	width: 7em;
	height: 4.2em;
	background: rgb(156, 121, 93);
	position: fixed;
	margin-left: 77%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja8 h4{
	color: white;
	padding-top: 0.3em;
}

.caja9{
	width: 6em;
	height: 4.2em;
	background: rgb(177, 128, 121);
	position: fixed;
	margin-left: 86%;
	margin-top: 6%;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

}

.caja9 h4{
	color: white;
	padding-top: 0.3em;
}

.seccion1{
	float: left;
	clear: both;
	overflow: hidden;
	margin-top: 13em;
	margin-left: 5em;
}

.seccion2{
	float: left;
	clear: both;
	overflow: hidden;
	margin-top: 1em;
	margin-left: 12em;
	/*outline: 0.3em solid green;*/
}

.seccion3{
	float: left;
	clear: both;
	overflow: hidden;
	margin-top: 0.5em;
	margin-left: 5.5em;
}

.fa-user{
	/*outline: 1em solid green;*/
	position: fixed;
	font-size: 20em;
	/*color: black;*/
	margin-left: 76%;
	margin-top: 1em;